<div class="modal fade bd-example-modal-xl" id="{{ base_id }}Modal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body overflow-auto">
        <nav class="navbar navbar-light bg-light justify-content-between">
          {# <button class="btn btn-primary" id="{{ base_id }}_add_row_button" onclick="add_row('#{{ base_id }}_table',{{ rows_template }})">Add Row</button> #}
          <button class="btn btn-secondary" id="{{ base_id }}_upload_button" onclick="save_input_table('#{{ base_id }}_table')">Save All</button>
          <div class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id='{{ base_id }}_search_input'>
            <button class="btn btn-outline-success my-2 my-sm-0 " id='{{ base_id }}_search_button'>Search</button>
          </div>
        </nav>
        <table class="table  table-striped" id='{{ base_id }}_table'>
          <thead>
            {% include header_template %}
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
