<div class="modal fade bd-example-modal-xl" id="{{ base_id }}Modal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body overflow-auto">
        <nav class="navbar navbar-light bg-light justify-content-between">
          <div class="form-inline">
            <input class="form-control mr-sm-2" type="file" id="{{ base_id }}_input_file" accept=".xls,.xlsx">
            <button class="btn btn-primary" id="{{ base_id }}_preview_button" onclick="import_xls_data_to_table('#{{ base_id }}_input_file','#{{ base_id }}_table',{{ rows_template }})">Add File</button>
          </div>
          <button class="btn btn-primary" id="{{ base_id }}_add_row_button" onclick="add_row('#{{ base_id }}_table',{{ rows_template }})">Add Row</button>
          <button class="btn btn-secondary" id="{{ base_id }}_upload_button" onclick="upload_input_table('#{{ base_id }}_table','{{ dest_url }}')">Submit All</button>
          <button class="btn btn-danger" id="{{ base_id }}_remove_button" onclick="clean_input_table('#{{ base_id }}_table')">Remove All</button>
        </nav>
        <table class="table  table-striped" id='{{ base_id }}_table'>
          <thead>
            {% include header_template %}
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
