
{% extends 'base.html' %}
{% load static %}
{% load extra %}
{% block title %}Home page{% endblock %}{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Hello there</h1>


    <p class="lead">
      <div id="target">
          Click here
      </div>
      <div id="upload-target">
          upload
      </div>
    </p>
    <hr class="my-5">
    <p class="lead">
      <div class="tables-doctor">
      </div>
    </p>
    <hr class="my-5">
</div>
<div class="conatiner mt-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <input class="form-control" type="file" id="input" accept=".xls,.xlsx"  >
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" id="button">Convert</button>
            </div>
<div class="col-md-12">
    <pre id="jsondata"></pre>
</div>
        </div>
    </div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://unpkg.com/coreapi@latest/dist/coreapi.js"></script>

<script type="text/javascript" src="{% static 'js/parse_excel.js' %}"></script>
{# <script type="text/javascript" src="{% static 'js/test.js' %}"></script> #}
<script type="text/javascript" src="{% static 'js/cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/post.js' %}"></script>
<script type="text/javascript">
client = new api_client();
$(function() {

console.log(client);
client.authenticate('admin','123qwe!@#QWE',true);

})
$("#target").click(function() {
  client.auth_check() //.auth_get('/api/employees/')
});
</script>
{% endblock %}
