{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="conatiner mt-5">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <input class="form-control" type="file" id="import_employees_input" accept=".xls,.xlsx">
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" id="import_employees_preview_button" onclick="import_xls_data_to_table('#import_employees_input','#import_employees_table',employee_input_rows_template,'#import_employees_table')">Add File</button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-secondary" id="import_employees_upload_button" onclick="upload_input_table('#import_employees_table','/api/employees/')">Submit All</button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-secondary" id="import_employees_upload_button" onclick="clean_input_table('#import_employees_table')">Remove All</button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-secondary" id="import_employees_upload_button" onclick="add_row('#import_employees_table',employee_input_row_template,[{name:'',surname:'',hiring_date:''}])">Add Row</button>
    </div>
  </div>
</div>
<table class="table  table-striped" id='import_employees_table'>
   <thead>
     <tr>
       <th>name</th>
       <th>surname</th>
       <th>hiring_date</th>
       <th>action</th>
     </tr>
  </thead>
  <tbody>
</table>
<script type="text/javascript">
  $('#import_employees_upload_button').prop( "disabled", true );
</script>
{% endblock %}
